@import "tailwindcss";
@layer theme, base, component, utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@layer theme {
  :root {
    /* color */
    --success-dark: #2c742f;
    --light-green: #00b207;
    --bg-base-color: #f7f7f7;
    --warning-color: #ff8a00;
    --bg-error: #ea4b48;
    --text-yellow : #FCC900;
    --light-blue : #2388FF;
    --bg-gray :#F7F7F7;
    --bg-green:rgba(43, 87, 46, 0.8);

    --bg-button-green : rgba(32, 181, 38, 0.1);
;

    /* font */
    --font-poppins: "Poppins", sans-serif;

    --grey-900: #1a1a1a;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  a,
  ul {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  a,
  ul,
  li {
    padding: 0;
    margin: 0;
  }

  * {
    padding: 0;
    margin: 0;
    font-family: var(--font-secondary);
  }

  h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  h5 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
  }

  h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    transition: all 0.2s ease-in-out;
    color: var(--grey-900);
  }
}

@layer utilities {
  .header-1 {
    max-width: 82.43rem;
    width: 100%;
    padding: 12px;
    margin: auto;
  }

  .hero-bg-gradient {
    background: linear-gradient(
      98.82deg,
      rgba(0, 0, 0, 0.6) 10.4%,
      rgba(0, 0, 0, 0) 59.43%
    );
  }

  .hero3-bg-gradient {
    background: rgba(0, 38, 3, 0.8);
  }

  .category-card-shadow:hover {
    box-shadow: 0px 0px 12px 0px #20b52652;
  }

  .products-card-shadow:hover {
    box-shadow: 0px 0px 12px 0px #20b52652;
  }

  .model-backdropstyle {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  .model-backdropstyle.active {
    opacity: 1;
    visibility: visible;
  }

  .model-containerstyle {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.5s ease-in-out;
  }
  .model-containerstyle.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }


  .sidebar-backdropstyle  {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  .sidebar-backdropstyle.active {
    opacity: 1;
    visibility: visible;
  }

  .sidebar-containerstyle {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }
  .sidebar-containerstyle.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
  }






  /* filter page */
 .slider{
  width: 100%;
  height: 6px;
  position: relative;
  overflow: hidden;
  background-color: #d8d8d8;
  border-radius: 15px;
 }

 .progress{
  height:6px;
  background-color: var(--light-green);
  border-radius: 10px;
  position: absolute;
  top : 0px;
 }

 .range-input {
  position: relative;
 }

.range-input input {
  position: absolute;
  width: 100%;
  height:6px;
  top:-6px;
  pointer-events: none;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #ffffff;
  pointer-events: auto;
  -webkit-appearance: none;
  border: 2px solid var(--light-green);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
} 







}




@layer components {

  .section-layout-width {
    @apply max-w-[350px] sm:max-w-[550px] md:max-w-[700px] lg:max-w-[900px] xl:max-w-[1100px] 2xl:max-w-[1320px] mx-auto w-full h-auto ;
  }

  .hero-button {
    @apply w-fit text-(--light-green) bg-white py-2 lg:py-3 xl:py-4 px-2 sm:px-5 lg:px-8 xl:px-10 rounded-[53px] cursor-pointer hover:bg-gray-200 transition-all duration-200 ease-in-out flex gap-1 sm:gap-4 items-center;
  }

  .hero-btn-text{
    @apply font-semibold text-xs sm:text-sm lg:text-base leading-[120%];
  }

  .hero-btn-icon{
    @apply  animate-pulse duration-500 ease-linear text-xs sm:text-base;
  }




  .footer-a-link {
    @apply size-8 xl:size-10 flex items-center justify-center rounded-[50%] hover:bg-(--light-green) transition-all duration-300 ;
  }

  .footer-a-link-icon{
    @apply text-base xl:text-lg text-gray-700 hover:text-white transition-all duration-300 ease-in-out group-hover:text-white;
  }

















  /* product detail page */
  .product-img-div{
    @apply aspect-80/90 max-w-[40px] lg:max-w-[50px] xl:max-w-20 w-full max-h-[40px] lg:max-h-[60px]  xl:max-h-[90px] h-full overflow-hidden;
  }

  .img-styling{
    @apply w-full h-full object-cover;
  }


  .product-instock{
    @apply bg-green-500/20 text-(--success-dark);
  }

  .product-outofstock{
    @apply bg-red-500/20 text-red-800;
  }


  



  /* shopping cart */
  .shoppingcart-button{
    @apply py-3.5 px-8 rounded-full bg-gray-50 hover:bg-gray-200 transition-all ease-in-out duration-200 cursor-pointer text-sm font-semibold leading-[120%] text-gray-700;
  }

  .shoppingcart-quantitybtn{
    @apply size-8.5 rounded-full flex items-center justify-center bg-gray-100 cursor-pointer hover:bg-gray-400 transition-all duration-200 ease-in-out;
  }







  /* filter page */

  .tagsFilterChips{
    @apply bg-gray-200 hover:bg-gray-400;
  }

  .tagsFilterChips.active{
    @apply bg-(--light-green) hover:bg-(--success-dark) text-white;
  }
}