@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.header-styling, .services__header h2, .destinations__header h2, .booktrip__info .booktrip__header h2, .testimonials__title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 6.25%rem;
  color: #14183e;
  font-family: "Volkhov", serif;
}
@media (max-width: 1280px) {
  .header-styling, .services__header h2, .destinations__header h2, .booktrip__info .booktrip__header h2, .testimonials__title {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .header-styling, .services__header h2, .destinations__header h2, .booktrip__info .booktrip__header h2, .testimonials__title {
    font-size: 2.25rem;
  }
}
@media (max-width: 480px) {
  .header-styling, .services__header h2, .destinations__header h2, .booktrip__info .booktrip__header h2, .testimonials__title {
    font-size: 1.5rem;
  }
}

.tagline-styling, .services__header p, .destinations__header p, .booktrip__info .booktrip__header p, .testimonials__label {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 6.25%rem;
  color: #5e6282;
}
@media (max-width: 768px) {
  .tagline-styling, .services__header p, .destinations__header p, .booktrip__info .booktrip__header p, .testimonials__label {
    font-size: 0.875rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
ul,
a,
li {
  padding: 0;
  margin: 0;
}

.button-base, .testimonials__dot, .hero__info .hero__btn-container .hero__playdemo button, .hero__info .hero__btn-container .hero__findmore-btn, .nav__menu-btn, .nav__lang-btn, .nav__signup-btn {
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  padding-bottom: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 72.5rem;
  margin: 2.9375rem auto 0;
}
.nav__logo img {
  width: 7.1875rem;
  height: auto;
}
.nav__list {
  display: flex;
  gap: 3.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav__item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #212832;
}
.nav__link {
  text-decoration: none;
  color: #212832;
}
.nav__link:hover {
  color: gray;
}
.nav__signup-btn {
  padding: 0.4375rem 1.125rem;
  border: 1px solid #212832;
  border-radius: 0.125rem;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
}
.nav__signup-btn:hover {
  background-color: #df6951;
  color: white;
}
.nav__lang-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}
.nav__lang-btn .fa-chevron-down {
  font-size: 0.625rem;
}
.nav__menu-btn {
  border: none;
  padding: 0;
  display: none;
}
.nav__menu-btn .fa-bars {
  font-size: 1.25rem;
}
@media (max-width: 1280px) {
  .nav {
    margin-top: 1.25rem;
    padding: 0 1rem;
  }
  .nav__list {
    gap: 1.875rem;
  }
}
@media (max-width: 768px) {
  .nav__item {
    display: none;
  }
  .nav__menu-btn {
    display: inline;
  }
}

main {
  background-repeat: no-repeat;
  background-position: right;
}

.hero {
  max-width: 75rem;
  height: 47.8125rem;
  margin: 0 auto;
  margin-bottom: 13.75rem;
}
.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 6.5625rem;
}
.hero__info {
  max-width: 39.375rem;
  height: fit-content;
  width: 100%;
  z-index: 1;
}
.hero__info .hero__tag-line {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0rem;
  color: #df6951;
  margin-bottom: 1.5rem;
}
.hero__info h1 {
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 5.5625rem;
  color: #181e4b;
  font-family: "Volkhov", serif;
  margin-bottom: 1.875rem;
  letter-spacing: -4%;
  position: relative;
  z-index: 10;
}
.hero__info h1 .hero__heading-decore {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
}
.hero__info h1 span {
  white-space: nowrap;
}
.hero__info .hero__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #5e6282;
  margin-bottom: 2.125rem;
}
.hero__info .hero__btn-container {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
}
.hero__info .hero__btn-container .hero__findmore-btn {
  padding: 1.125rem 1.375rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  background-color: #f1a501;
  border: none;
}
.hero__info .hero__btn-container .hero__playdemo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3125rem;
}
.hero__info .hero__btn-container .hero__playdemo button {
  padding: 1.125rem 1.25rem;
  border-radius: 50%;
  border: none;
  background-color: #df6951;
}
.hero__info .hero__btn-container .hero__playdemo button .fa-play {
  font-size: 16px;
  color: #f6f6f6;
}
.hero__info .hero__btn-container .hero__playdemo a {
  text-decoration: none;
  font-size: 1rem;
  color: #686d77;
  transition: 0.2 ease-in-out;
}
.hero__info .hero__btn-container .hero__playdemo a:hover {
  text-decoration: underline;
}
.hero__img-wrapper {
  position: absolute;
  right: 0;
  width: 47.8125rem;
  height: 47.8125rem;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  max-width: 76.75rem;
  margin: 0 auto;
  position: relative;
}
.services__decore {
  position: absolute;
  right: 0;
}
.services__header {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  text-align: center;
  margin-bottom: 4.125rem;
}
.services .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.services .card .card__group {
  padding: 0rem 2.25rem 2.5rem;
  border-radius: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: white;
  transition: 0.2s ease-in-out;
  position: relative;
}
.services .card .card__group .card__icon {
  width: 10.375rem;
  height: 9.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .card .card__group h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 6.25%rem;
  color: #1e1d4c;
}
.services .card .card__group p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625pxrem;
  color: #5e6282;
  text-align: center;
}
.services .card .card__group:hover {
  box-shadow: 0px 50px 30px rgba(67, 76, 120, 0.1);
}
.services .card__icon-comp {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #df6951;
  border-radius: 30px 0 10px 0;
  position: absolute;
  bottom: -30px;
  left: 300px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .services {
    max-width: 50rem;
    padding: 0 1rem;
  }
  .services .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .services .card .card__group {
    padding: 0rem 1rem 1.5rem;
  }
  .services .card .card__icon-comp {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 768px) {
  .services {
    max-width: 37.5rem;
  }
  .services .card {
    grid-template-columns: 1fr 1fr;
  }
  .services .card .card__group {
    padding: 0rem 0.5rem 1rem;
  }
  .services .card .card__icon-comp {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 480px) {
  .services {
    max-width: 15.625rem;
  }
  .services .card {
    grid-template-columns: 1fr;
  }
}

.destinations {
  max-width: 68.75rem;
  margin: 12.5rem auto 0;
}
.destinations__header h2 {
  margin-top: 8px;
  text-align: center;
}
.destinations__header p {
  text-align: center;
}
.destinations__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.75rem;
  position: relative;
}
.destinations__card .destinations__decore {
  position: absolute;
  right: 0rem;
  top: 9.875rem;
  width: 6rem;
  height: 15.75rem;
}
.destinations__card .destinations__card-group {
  max-width: 19.6875rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 50px 30px rgba(67, 76, 120, 0.1);
}
.destinations__card .destinations__card-group .destinations__card-img {
  width: 100%;
  height: 20.4375rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.destinations__card .destinations__card-group .destinations__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.destinations__card .destinations__card-group .destinations__card-img:hover {
  scale: 1.05;
}
.destinations__card .destinations__card-group .destinations__card-info {
  padding: 27px 20px 42px 20px;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-1 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #5e6282;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #5e6282;
  margin-top: 1.1875rem;
  text-transform: capitalize;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-2 .fa-location-arrow {
  color: black;
  margin-right: 0.875rem;
}
@media (max-width: 1280px) {
  .destinations {
    max-width: 56.25rem;
    margin: 6.25rem auto 0;
  }
  .destinations .destinations__card {
    padding: 0 20px;
  }
  .destinations .destinations__card .destinations__decore {
    right: 0;
    width: 6rem;
    height: 12.5rem;
  }
  .destinations .destinations__card .destinations__card-group {
    max-width: 16.25rem;
  }
  .destinations .destinations__card .destinations__card-group .destinations__card-img {
    height: 16.875rem;
  }
  .destinations .destinations__card .destinations__card-group .destinations__card-info {
    padding: 15px 10px 24px 10px;
  }
}
@media (max-width: 1024px) {
  .destinations {
    max-width: 37.5rem;
  }
  .destinations .destinations__card {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .destinations .destinations__card .destinations__decore {
    right: -1.25rem;
  }
}
@media (max-width: 640px) {
  .destinations {
    max-width: 18.75rem;
  }
  .destinations .destinations__card {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .destinations .destinations__card .destinations__group {
    margin: 0 auto;
  }
}

.booktrip {
  max-width: 69.625rem;
  margin: 12.5rem auto 0;
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.booktrip__info {
  width: fit-content;
}
.booktrip__info .booktrip__header {
  max-width: 31.9375rem;
  width: 100%;
}
.booktrip__info .booktrip__steps {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 24.6875rem;
  width: 100%;
  margin-top: 1.9375rem;
}
.booktrip__info .booktrip__steps .booktrip__info-group {
  display: flex;
  flex-direction: row;
  gap: 1.3125rem;
}
.booktrip__info .booktrip__steps .booktrip__info-group .booktrip__info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.booktrip__info .booktrip__steps .booktrip__info-group .booktrip__info h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 7.8125%rem;
  color: #5e6282;
}
.booktrip__info .booktrip__steps .booktrip__info-group .booktrip__info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #5e6282;
}
.booktrip__card-container {
  position: relative;
}
.booktrip__card-container .booktrip__card1 {
  width: 23.125rem;
  height: auto;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 50px -30px 150px 20px rgba(89, 177, 230, 0.2);
}
.booktrip__card-container .booktrip__card1 .booktrip__img {
  width: 100%;
  height: 11.875rem;
  overflow: hidden;
  border-radius: 1rem;
}
.booktrip__card-container .booktrip__card1 .booktrip__img img {
  width: 100%;
  object-fit: cover;
  position: top;
  scale: 1.04;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-header {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  margin: 1.625rem 0;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-header h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: black;
  letter-spacing: 1.5%;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-header p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 7.8125%rem;
  color: #84829a;
  letter-spacing: -0.5%;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-icons {
  display: flex;
  flex-direction: row;
  gap: 1.125rem;
  margin-bottom: 1.875rem;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-icons .booktrip__card-icon-group {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #f5f5f5;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-icons .booktrip__card-icon-group i {
  color: #84829a;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .booktrip__card-container .booktrip__card1 .booktrip__card-icons .booktrip__card-icon-group i {
    font-size: 0.875rem;
  }
}
.booktrip__card-container .booktrip__card1 .booktrip__card-footer {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  justify-content: space-between;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-footer .booktrip__footer-info {
  display: flex;
  flex-direction: row;
  gap: 0.3125rem;
  align-items: center;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-footer p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #84829a;
  letter-spacing: 2%;
}
.booktrip__card-container .booktrip__card1 .booktrip__card-footer i {
  color: #84829a;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .booktrip__card-container .booktrip__card1 .booktrip__card-footer i {
    font-size: 0.875rem;
  }
}
.booktrip__card-container .booktrip__card2 {
  z-index: 10;
  position: absolute;
  top: 14.6875rem;
  left: 13.875rem;
  max-width: 16.4375rem;
  width: 100%;
  background-color: white;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 30px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  gap: 0.6875rem;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-img {
  width: 4.0625rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info h3 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: black;
  letter-spacing: 1.5%;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info .booktrip__tagline {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 7.8125%rem;
  color: #84829a;
  letter-spacing: -3.5%;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info .booktrip__progress {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 7.8125%rem;
  color: black;
  letter-spacing: -5.5%;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info .booktrip__progress span {
  color: #8a79df;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info .booktrip__line-container {
  width: 100%;
  border: 1px solid #8a79df;
  height: 5px;
  border-radius: 0.5rem;
}
.booktrip__card-container .booktrip__card2 .booktrip__card2-info .booktrip__line-container .booktrip__line {
  width: 40%;
  height: 100%;
  background-color: #8a79df;
}
@media (max-width: 1280px) {
  .booktrip {
    padding: 0 1.25rem;
    max-width: 50rem;
    margin: 6.25rem auto 0;
  }
}
@media (max-width: 1024px) {
  .booktrip {
    max-width: 31.25rem;
    margin: 6.25rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
  }
}
@media (max-width: 768px) {
  .booktrip {
    max-width: 31.25rem;
    margin: 6.25rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
  }
  .booktrip .booktrip__card1 {
    width: 18.75rem;
    height: auto;
    border-radius: 0.75rem;
    padding: 0.75rem;
  }
  .booktrip .booktrip__card1 .booktrip__img {
    width: 100%;
    height: 9.375rem;
    border-radius: 0.5rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-header {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    margin: 1rem 0;
  }
  .booktrip .booktrip__card1 .booktrip__card-header h3 {
    font-size: 1rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-header p {
    font-size: 0.875rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-icons .booktrip__card-icon-group {
    width: 2rem;
    height: 2rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-footer p {
    font-size: 0.875rem;
  }
  .booktrip .booktrip__card2 {
    top: 11.25rem;
    left: 10rem;
    max-width: 15.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.3125rem;
  }
  .booktrip .booktrip__card2 .booktrip__card2-img {
    width: 2.5rem;
    height: 2.1875rem;
  }
  .booktrip .booktrip__card2 .booktrip__card2-info {
    display: flex;
    flex-direction: column;
    gap: 0.1875rem;
  }
  .booktrip .booktrip__card2 .booktrip__card2-info h3 {
    font-size: 0.875rem;
  }
  .booktrip .booktrip__card2 .booktrip__card2-info .booktrip__tagline,
  .booktrip .booktrip__card2 .booktrip__card2-info .booktrip__progress {
    font-size: 0.75rem;
  }
  .booktrip .booktrip__card2 .booktrip__card2-info .booktrip__line-container {
    height: 3px;
  }
}
@media (max-width: 480px) {
  .booktrip {
    max-width: 6.25%rem;
    margin: 6.25rem auto 0;
  }
  .booktrip .booktrip__steps {
    gap: 1.5rem;
  }
  .booktrip .booktrip__card1 {
    width: 15.625rem;
    padding: 0.5rem;
  }
  .booktrip .booktrip__card1 .booktrip__img {
    width: 100%;
    height: 8.125rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-header {
    margin: 0.75rem 0;
  }
  .booktrip .booktrip__card1 .booktrip__card-icons {
    margin-bottom: 1.5rem;
  }
  .booktrip .booktrip__card1 .booktrip__card-icons .booktrip__card-icon-group {
    width: 1.5rem;
    height: 1.5rem;
  }
  .booktrip .booktrip__card2 {
    top: 10.625rem;
    left: 7.5rem;
    max-width: 11.25rem;
    padding: 0.625rem;
  }
}

.testimonials {
  max-width: 72.8125rem;
  margin: 12.5rem auto 0;
}
@media (max-width: 1280px) {
  .testimonials {
    padding: 0 1.25rem;
    max-width: 40.625rem;
    margin: 6.25rem auto 0;
  }
  .testimonials .testimonials__header {
    width: fit-content;
    margin: auto;
  }
  .testimonials .testimonials__title {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .testimonials {
    max-width: 31.25rem;
    margin: 6.25rem auto 0;
  }
}
.testimonials__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: flex-start;
}
.testimonials__header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.testimonials__title {
  max-width: 25.5625rem;
  line-height: 6.25%rem;
}
.testimonials__pagination {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 1.25rem;
}
.testimonials__dot {
  padding: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: none;
}
.testimonials__dot--active {
  background-color: #14183e;
}
.testimonials__dot:hover {
  background-color: #686d77;
}
@media (max-width: 768px) {
  .testimonials__dot {
    width: 0.625rem;
    height: 0.625rem;
  }
}
.testimonials__card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__card {
  max-width: 38.625rem;
  width: 100%;
  position: relative;
  display: flex;
  gap: 6.25rem;
}
.testimonials__card .testimonials__card1, .testimonials__card .testimonials__card2 {
  max-width: 23.75rem;
  width: 100%;
  background-color: white;
  z-index: 10;
  padding: 28px 34px 28px 64px;
  border-radius: 1rem;
  box-shadow: 0px 30px 40px rgba(67, 76, 120, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}
.testimonials__card .testimonials__card1 .testimonial-card__quote, .testimonials__card .testimonials__card2 .testimonial-card__quote {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
  color: #212832;
}
.testimonials__card .testimonials__card1 .testimonial-card__info h3, .testimonials__card .testimonials__card2 .testimonial-card__info h3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 6.25%rem;
  color: #212832;
}
.testimonials__card .testimonials__card1 .testimonial-card__info p, .testimonials__card .testimonials__card2 .testimonial-card__info p {
  font-size: 1rem;
  line-height: 6.25%rem;
  color: #212832;
}
@media (max-width: 768px) {
  .testimonials__card .testimonials__card1, .testimonials__card .testimonials__card2 {
    max-width: 18.75rem;
    padding: 16px 26px;
    gap: 0.625rem;
  }
  .testimonials__card .testimonials__card1 .testimonial-card__quote, .testimonials__card .testimonials__card2 .testimonial-card__quote {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: #212832;
  }
  .testimonials__card .testimonials__card1 .testimonial-card__info h3, .testimonials__card .testimonials__card2 .testimonial-card__info h3 {
    line-height: 100%;
  }
  .testimonials__card .testimonials__card1 .testimonial-card__info p, .testimonials__card .testimonials__card2 .testimonial-card__info p {
    line-height: 100%;
  }
}
.testimonials__card .testimonials__card2 {
  max-width: 23.125rem;
  padding: 14px 26px;
  position: absolute;
  background-color: none;
  border: 2px solid #f7f7f7;
  box-shadow: none;
  top: 100px;
  left: 75px;
  z-index: -1;
}
@media (max-width: 768px) {
  .testimonials__card .testimonials__card2 {
    display: none;
  }
}
.testimonials__card .testimonial-card__author {
  position: absolute;
  top: -2.125rem;
  left: -2.125rem;
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  overflow: hidden;
  z-index: 20;
}
.testimonials__card .testimonial-card__author img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .testimonials__card .testimonial-card__author {
    width: 2.5rem;
    height: 2.5rem;
    top: -1.25rem;
    left: -1.25rem;
  }
}
@media (max-width: 640px) {
  .testimonials__card .testimonial-card__author {
    left: -0.625rem;
  }
}
.testimonials__card .testimonials__chevron-container {
  display: flex;
  flex-direction: column;
  gap: 3.5625rem;
}
.testimonials__card .testimonials__chevron-container .fa-chevron-up {
  color: #84829a;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .testimonials__card .testimonials__chevron-container .fa-chevron-up {
    font-size: 0.875rem;
  }
}
.testimonials__card .testimonials__chevron-container .fa-chevron-down {
  color: #84829a;
  font-size: 1.125rem;
}
@media (max-width: 768px) {
  .testimonials__card .testimonials__chevron-container .fa-chevron-down {
    font-size: 0.875rem;
  }
}
.testimonials__card .testimonials__chevron-container .fa-chevron-down {
  color: black;
}
@media (max-width: 768px) {
  .testimonials__card .testimonials__chevron-container {
    gap: 1.25rem;
  }
}
@media (max-width: 1024px) {
  .testimonials__card {
    margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .testimonials__card {
    gap: 3.125rem;
    margin-top: 50px;
  }
}
@media (max-width: 480px) {
  .testimonials__card {
    gap: 1.25rem;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
