@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.header-styling, .services__header h1, .destinations__header h1 {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 6.25%rem;
  color: #14183e;
  font-family: "Volkhov", serif;
  text-align: center;
}
@media (max-width: 1280px) {
  .header-styling, .services__header h1, .destinations__header h1 {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .header-styling, .services__header h1, .destinations__header h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 480px) {
  .header-styling, .services__header h1, .destinations__header h1 {
    font-size: 1.5rem;
  }
}

.tagline-styling, .services__header p, .destinations__header p {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 6.25%rem;
  color: #5e6282;
  text-align: center;
}
@media (max-width: 768px) {
  .tagline-styling, .services__header p, .destinations__header p {
    font-size: 0.875rem;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p,
h1,
h2,
h3,
ul,
a,
li {
  padding: 0;
  margin: 0;
}

.button-base, .hero__info .hero__btn-container .hero__playdemo button, .hero__info .hero__btn-container .hero__findmore-btn, .nav__menu-btn, .nav__lang-btn, .nav__signup-btn {
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 72.5rem;
  margin: 2.9375rem auto 0;
}
.nav__logo img {
  width: 7.1875rem;
  height: auto;
}
.nav__list {
  display: flex;
  gap: 3.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.nav__item {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #212832;
}
.nav__link {
  text-decoration: none;
  color: #212832;
}
.nav__link:hover {
  color: gray;
}
.nav__signup-btn {
  padding: 0.4375rem 1.125rem;
  border: 1px solid #212832;
  border-radius: 0.125rem;
  transition: 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: 500;
}
.nav__signup-btn:hover {
  background-color: #df6951;
  color: white;
}
.nav__lang-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
}
.nav__lang-btn .fa-chevron-down {
  font-size: 0.625rem;
}
.nav__menu-btn {
  border: none;
  padding: 0;
  display: none;
}
.nav__menu-btn .fa-bars {
  font-size: 1.25rem;
}
@media (max-width: 1280px) {
  .nav {
    margin-top: 1.25rem;
    padding: 0 1rem;
  }
  .nav__list {
    gap: 1.875rem;
  }
}
@media (max-width: 768px) {
  .nav__item {
    display: none;
  }
  .nav__menu-btn {
    display: inline;
  }
}

main {
  background-repeat: no-repeat;
  background-position: right;
}

.hero {
  max-width: 75rem;
  height: 47.8125rem;
  margin: 0 auto;
  margin-bottom: 110px;
}
.hero__container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 6.5625rem;
}
.hero__info {
  max-width: 39.375rem;
  height: fit-content;
  width: 100%;
  z-index: 1;
}
.hero__info .hero__tag-line {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 0rem;
  color: #df6951;
  margin-bottom: 1.5rem;
}
.hero__info h1 {
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 5.5625rem;
  color: #181e4b;
  font-family: "Volkhov", serif;
  margin-bottom: 1.875rem;
  letter-spacing: -4%;
  position: relative;
  z-index: 10;
}
.hero__info h1 .hero__heading-decore {
  position: absolute;
  top: 70px;
  right: 0;
  z-index: -1;
}
.hero__info h1 span {
  white-space: nowrap;
}
.hero__info .hero__desc {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.875rem;
  color: #5e6282;
  margin-bottom: 2.125rem;
}
.hero__info .hero__btn-container {
  display: flex;
  flex-direction: row;
  gap: 2.75rem;
}
.hero__info .hero__btn-container .hero__findmore-btn {
  padding: 1.125rem 1.375rem;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  background-color: #f1a501;
  border: none;
}
.hero__info .hero__btn-container .hero__playdemo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3125rem;
}
.hero__info .hero__btn-container .hero__playdemo button {
  padding: 1.125rem 1.25rem;
  border-radius: 50%;
  border: none;
  background-color: #df6951;
}
.hero__info .hero__btn-container .hero__playdemo button .fa-play {
  font-size: 16px;
  color: #f6f6f6;
}
.hero__info .hero__btn-container .hero__playdemo a {
  text-decoration: none;
  font-size: 1rem;
  color: #686d77;
  transition: 0.2 ease-in-out;
}
.hero__info .hero__btn-container .hero__playdemo a:hover {
  text-decoration: underline;
}
.hero__img-wrapper {
  position: absolute;
  right: 0;
  width: 47.8125rem;
  height: 47.8125rem;
}
.hero__img {
  width: 100%;
  height: 100%;
}
.hero__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services {
  max-width: 76.75rem;
  margin: 0 auto;
}
.services__header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto 4.125rem;
  gap: 10px;
  text-align: center;
}
.services .card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.services .card .card__group {
  padding: 0rem 2.25rem 2.5rem;
  border-radius: 2.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  background-color: white;
  transition: 0.2s ease-in-out;
  position: relative;
}
.services .card .card__group .card__icon {
  width: 10.375rem;
  height: 9.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .card .card__group h2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 6.25%rem;
  color: #1e1d4c;
}
.services .card .card__group p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.625pxrem;
  color: #5e6282;
  text-align: center;
}
.services .card .card__group:hover {
  box-shadow: 0px 50px 30px rgba(67, 76, 120, 0.1);
}
.services .card__icon-comp {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #df6951;
  border-radius: 30px 0 10px 0;
  position: absolute;
  bottom: -30px;
  left: 300px;
  z-index: -1;
}
@media (max-width: 1280px) {
  .services {
    max-width: 50rem;
    padding: 0 1rem;
  }
  .services .card {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .services .card .card__group {
    padding: 0rem 1rem 1.5rem;
  }
  .services .card .card__icon-comp {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 768px) {
  .services {
    max-width: 37.5rem;
  }
  .services .card {
    grid-template-columns: 1fr 1fr;
  }
  .services .card .card__group {
    padding: 0rem 0.5rem 1rem;
  }
  .services .card .card__icon-comp {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media (max-width: 480px) {
  .services {
    max-width: 15.625rem;
  }
  .services .card {
    grid-template-columns: 1fr;
  }
}

.destinations {
  margin: 12.5rem auto 0;
  max-width: 68.75rem;
}
.destinations__header h1 {
  margin-top: 8px;
}
.destinations__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3.75rem;
  position: relative;
}
.destinations__card .destinations__decore {
  position: absolute;
  right: 0rem;
  top: 9.875rem;
  width: 6rem;
  height: 15.75rem;
}
.destinations__card .destinations__card-group {
  max-width: 19.6875rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
  background-color: white;
  z-index: 10;
  box-shadow: 0px 50px 30px rgba(67, 76, 120, 0.1);
}
.destinations__card .destinations__card-group .destinations__card-img {
  width: 100%;
  height: 20.4375rem;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
.destinations__card .destinations__card-group .destinations__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.destinations__card .destinations__card-group .destinations__card-img:hover {
  scale: 1.05;
}
.destinations__card .destinations__card-group .destinations__card-info {
  padding: 27px 20px 42px 20px;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-1 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #5e6282;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 7.8125%rem;
  color: #5e6282;
  margin-top: 1.1875rem;
  text-transform: capitalize;
}
.destinations__card .destinations__card-group .destinations__card-info .destinations__cardinfo-2 .fa-location-arrow {
  color: black;
  margin-right: 0.875rem;
}
@media (max-width: 1280px) {
  .destinations {
    max-width: 56.25rem;
    margin-top: 6.25rem;
  }
  .destinations .destinations__card {
    padding: 0 20px;
  }
  .destinations .destinations__card .destinations__decore {
    right: 0;
    width: 6rem;
    height: 12.5rem;
  }
  .destinations .destinations__card .destinations__card-group {
    max-width: 16.25rem;
  }
  .destinations .destinations__card .destinations__card-group .destinations__card-img {
    height: 16.875rem;
  }
  .destinations .destinations__card .destinations__card-group .destinations__card-info {
    padding: 15px 10px 24px 10px;
  }
}
@media (max-width: 1024px) {
  .destinations {
    max-width: 37.5rem;
  }
  .destinations .destinations__card {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }
  .destinations .destinations__card .destinations__decore {
    right: -1.25rem;
  }
}
@media (max-width: 640px) {
  .destinations {
    max-width: 18.75rem;
  }
  .destinations .destinations__card {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  .destinations .destinations__card .destinations__group {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
