@use "functions";
@use "variables";
@use "sass:map";

@mixin base-reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin font-format($size-key, $fontweight-key, $line-height-key, $color) {
  font-size: $size-key;
  font-weight: $fontweight-key;
  line-height: functions.pxToRem($line-height-key);
  color: $color;
}

@mixin margin-layout($max-width, $margin-top) {
  max-width: functions.pxToRem($max-width);
  margin: functions.pxToRem($margin-top) auto 0;
}

@mixin flex-row($gap) {
  display: flex;
  flex-direction: row;
  gap: functions.pxToRem($gap);
}

@mixin flex-col($gap) {
  display: flex;
  flex-direction: column;
  gap: functions.pxToRem($gap);
}

@mixin cardicon-style {
  color: variables.$text-light-grey;
  font-size: map.get(variables.$font-sizes, "lg");

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    font-size: map.get(variables.$font-sizes, "sm");
  }
}

// Card shadow effect
@mixin card-shadow {
  box-shadow: 0 10px 30px 0 rgba(67, 76, 120, 0.1);
}

// Transition utility
@mixin transition($property: all) {
  transition: $property variables.$transition-base;
}

@mixin animateX($x) {
  @keyframes animate {
    from {
      transform: translateX(#{$x}px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@mixin animateY($y) {
  @keyframes animate {
    from {
      transform: translateY(#{$y}px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// @mixin animateXY($x, $y) {
//   @keyframes animate {
//     from {
//       transform: translate(#{$x}px, #{$y}px);
//       opacity: 0;
//     }
//     to {
//       transform: translate(#{$x}px, #{$y}px);
//       opacity: 1;
//     }
//   }
//   animation: animate 1.5s ease-in-out forwards;
//   animation-timing-function: linear;
// }
