@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// typography color
$primary-text: #212832;
$secondary-text: #5e6282;
$text-grey: #f6f6f6;
$text-dark-grey: #686d77;
$text-light-grey: #84829a;

$text-blue-1: #181e4b;
$text-blue-3: #14183e;
$text-orange: #df6951;
$text-heading: #1e1d4c;

// colors
$yellow: #f1a501;
$coral: #df6951;
$aero-blue: #59b1e6;
$light-grey: #f5f5f5;
$purple: #8a79df;

// Typography

$font-weights: (
  "normal": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

$font-sizes: (
  "xs": 0.75rem,
  "sm": 0.875rem,
  "base": 1rem,
  "lg": 1.125rem,
  "xl": 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
  "4xl": 2.25rem,
  "5xl": 3rem,
  "6xl": 3.125rem,
  "7xl": 3.75rem,
  "8xl": 4rem,
  "9xl": 5.25rem,
);

$line-heights: (
  "none": 1,
  "tight": 1.25,
  "snug": 1.375,
  "normal": 1.5,
  "relaxed": 1.625,
  "loose": 2,
);

// Spacing
$spacing: (
  "2": 0.5rem,
  "3": 0.75rem,
  "4": 1rem,
  "5": 1.25rem,
  "6": 1.5rem,
  "8": 2rem,
  "12": 3rem,
  "16": 4rem,
  "20": 5rem,
);

// Border Radius

$radius: (
  "sm": 0.125rem,
  "base": 0.25rem,
  "lg": 0.5rem,
  "xl": 0.75rem,
  "2xl": 1rem,
  "3xl": 1.5rem,
  "5xl": 2.25rem,
  "full": 9999px,
);

// Breakpoints
$breakpoints: (
  "xs": 480px,
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

// Font Families

$font-family-base: "Poppins", sans-serif;
$font-family-volkhov: "Volkhov", serif;
$font-family-amulya: "Amulya-regular";

// Transitions
$transition-fast: 150ms ease-in-out;
$transition-base: 250ms ease-in-out;

// Shadows
$shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
