@use "mixin";
@use "functions";
@use "variables";
@use "extend";
@use "sass:map";

html,
body {
  @include mixin.base-reset;
  overflow-x: hidden;
  font-family: variables.$font-family-base;
  background-image: url("../assets/heropage/bgdecore.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: functions.pxToRem(766.306884765625)
    functions.pxToRem(872.584228515625);

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    background-size: functions.pxToRem(666) functions.pxToRem(772);
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    background-size: functions.pxToRem(466) functions.pxToRem(572);
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    background-size: functions.pxToRem(366) functions.pxToRem(472);
  }
}

p,
h1,
h2,
h3,
ul,
a,
li {
  padding: 0;
  margin: 0;
}

//animation
@keyframes fadeUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes lightfadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes lightfadeDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rotatefront {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.animate-rotateFront {
  animation: rotateFront 0.5s ease-in-out forwards;
  animation-timing-function: linear;
}

@keyframes rotateback {
  from {
    transform: rotate(-10deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}
.animate-rotateBack {
  animation: rotateback 0.8s ease-in-out forwards;
  animation-timing-function: linear;
}

.animation--fadeup,
.animation--fadedown,
.animation--fadeleft,
.animation--faderight,
.animate-p--fadeup,
.animate-h--fadedown,
.destination-decore--animation {
  opacity: 0;
}

.animation--fadeup.active {
  animation: fadeUp 0.8s ease-in-out forwards;
}

.animation--fadedown.active {
  animation: fadeDown 0.8s ease-in-out forwards;
}

.animation--fadeleft.active {
  animation: fadeLeft 0.8s ease-in-out forwards;
}

.animation--faderight.active {
  animation: fadeRight 0.8s ease-in-out forwards;
}

.animate-p--fadeup.active {
  animation: lightfadeUp 0.8s ease-in-out forwards;
}

.animate-h--fadedown.active {
  animation: lightfadeDown 0.8s ease-in-out forwards;
}

@keyframes animate-destinationdecore {
  from {
    transform: translate(-50px, -100px) rotate(-30deg);
    scale: 1.5;
    opacity: 0;
  }
  to {
    transform: translate(0px, 0px);
    scale: 1;
    opacity: 1;
  }
}

.destination-decore--animation.active {
  animation: animate-destinationdecore 2s ease-in-out forwards;
  animation-timing-function: linear;
  animation-delay: 0.2s;
}

.button-base {
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  padding-bottom: 20px;
  transition: variables.$transition-base;
}

.header.navbar__animation {
  background: rgba(255, 255, 255);
  box-shadow: 0 5px 10px rgb(107, 107, 107, 0.2);
}

// navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: functions.pxToRem(1160);
  margin: functions.pxToRem(47) auto 0;

  &__logo {
    img {
      width: functions.pxToRem(115);
      height: auto;
    }
  }

  &__list {
    display: flex;
    gap: functions.pxToRem(50);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__item {
    @include mixin.font-format(
      map.get(variables.$font-sizes, "base"),
      map.get(variables.$font-weights, "medium"),
      24,
      variables.$primary-text
    );
  }

  &__link {
    text-decoration: none;
    color: variables.$primary-text;

    &:hover {
      color: gray;
    }
  }

  &__signup-btn {
    padding: functions.pxToRem(7) functions.pxToRem(18);
    border: 1px solid variables.$primary-text;
    border-radius: map.get(variables.$radius, "sm");
    transition: 0.2s ease-in-out;
    font-size: map.get(variables.$font-sizes, "base");
    font-weight: map.get(variables.$font-weights, "medium");

    @extend .button-base;

    &:hover {
      background-color: variables.$coral;
      color: white;
    }
  }

  &__lang-btn {
    @extend .button-base;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    font-size: map.get(variables.$font-sizes, "base");
    font-weight: map.get(variables.$font-weights, "medium");

    .fa-chevron-down {
      font-size: functions.pxToRem(10);
    }
  }

  &__menu-btn {
    @extend .button-base;
    border: none;
    padding: 0;
    display: none;

    .fa-bars {
      font-size: functions.pxToRem(20);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    margin-top: functions.pxToRem(20);
    padding: 0 functions.pxToRem(16);

    &__list {
      gap: functions.pxToRem(30);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    &__item {
      display: none;
    }

    &__menu-btn {
      display: inline;
    }
  }
}

// sidebar
.sidebar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  visibility: hidden;

  &__comp {
    width: 100%;
    height: 100%;
    background-color: rgb(107, 107, 107, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
  }
  .slidebar__container {
    width: 70%;
    height: 100%;
    float: right;
    background-color: white;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}

.nav__menuclose-icon {
  background: none;
  border: none;
  width: fit-content;
  align-self: flex-end;
}

.fa-x {
  color: #000000;
}

.nav__sidebar-links {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 20px 20px 0 20px;
}

.nav__sidebar-link {
  color: #000000;
  text-decoration: none;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
}

.nav__sidebar-linebreak {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
  margin: 8px 0;
}

.sidebar.active {
  visibility: visible;

  .slidebar__container {
    transform: translateX(0%);
  }
}

// main
main {
  background-repeat: no-repeat;
  background-position: right;
}

// hero section
.hero {
  max-width: functions.pxToRem(1200);
  height: functions.pxToRem(765);
  margin: 0 auto;
  margin-bottom: functions.pxToRem(220);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: functions.pxToRem(105);
  }

  // hero page desc content
  &__info {
    max-width: functions.pxToRem(630);
    height: fit-content;
    width: 100%;
    z-index: 1;

    .hero__tag-line {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "xl"),
        map.get(variables.$font-weights, "bold"),
        0,
        variables.$coral
      );
      margin-bottom: functions.pxToRem(24);
    }

    h1 {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "9xl"),
        map.get(variables.$font-weights, "bold"),
        89,
        variables.$text-blue-1
      );
      font-family: variables.$font-family-volkhov;
      margin-bottom: functions.pxToRem(30);
      letter-spacing: -4%;
      position: relative;
      z-index: 10;

      .hero__heading-decore {
        position: absolute;
        top: 70px;
        right: 0;
        z-index: -1;
        opacity: 0;
      }
      span {
        white-space: nowrap;
      }
    }

    .hero__desc {
      font-size: map.get(variables.$font-sizes, "base");
      font-weight: map.get(variables.$font-weights, "medium");
      line-height: functions.pxToRem(30);
      color: variables.$secondary-text;
      margin-bottom: functions.pxToRem(34);
    }

    .hero__btn-container {
      display: flex;
      flex-direction: row;
      gap: functions.pxToRem(44);

      .hero__findmore-btn {
        @extend .button-base;
        padding: functions.pxToRem(18) functions.pxToRem(22);
        border-radius: map.get(variables.$radius, "lg");
        font-size: map.get(variables.$font-sizes, "lg");
        font-weight: 500;
        color: white;
        background-color: variables.$yellow;
        border: none;
      }

      .hero__playdemo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: functions.pxToRem(21);

        button {
          @extend .button-base;
          padding: functions.pxToRem(18) functions.pxToRem(20);
          border-radius: 50%;
          border: none;
          background-color: variables.$coral;

          .fa-play {
            font-size: 16px;
            color: variables.$text-grey;
            font-weight: map.get(variables.$font-sizes, "normal");
          }
        }

        a {
          text-decoration: none;
          font-size: map.get(variables.$font-sizes, "base");
          color: variables.$text-dark-grey;
          transition: 0.2 ease-in-out;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // animation hero info

  @keyframes tagline-animation {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .hero__tag-line--animate {
    animation: tagline-animation 1.5s ease-in-out forwards;
    animation-timing-function: linear;
  }

  // header
  @keyframes header-animate {
    from {
      transform: translateX(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes header-decore-animate {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .hero__heading-decore--animate {
    animation: header-decore-animate 1.5s ease-in-out forwards;
    animation-timing-function: linear;
    animation-delay: 2s;
  }

  .hero__header--animate {
    animation: header-animate 1.5s ease-in-out forwards;
    animation-timing-function: linear;
  }

  @keyframes desc-animate {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .hero__desc--animate {
    animation: desc-animate 3s ease-in-out forwards;
    animation-timing-function: linear;
  }
  // hero page img content
  &__img-wrapper {
    position: absolute;
    right: 0;
    width: functions.pxToRem(765);
    height: functions.pxToRem(765);
    .hero__img {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 10;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .hero__plane1 {
      top: 56px;
      left: 157px;
      transform: rotate(50deg);
      position: absolute;
      z-index: 1;
      opacity: 1;
    }

    .hero__plane2 {
      position: absolute;
      top: 103px;
      right: 10px;
      z-index: 5;
    }
  }

  @keyframes animate-heroimg {
    from {
      transform: translateY(100px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .hero__image--animate {
    animation: animate-heroimg 1.5s ease-in-out forwards;
    animation-timing-function: linear;
  }

  @keyframes plane1 {
    from {
      transform: translate(-140px, 20px) rotate(50deg);
      opacity: 0;
    }
    to {
      transform: translate(0, 0) rotate(0deg);
      opacity: 1;
    }
  }
  @keyframes plane2 {
    0% {
      transform: translate(-80px, 140px) rotate(0deg);
      opacity: 0;
    }
  }

  .hero__plane1--animate {
    animation: plane1 1.5s ease-in-out forwards;
    animation-timing-function: linear;
  }

  .hero__plane2--animate {
    animation: plane2 2.5s ease-in-out forwards;
    animation-timing-function: linear;
  }

  // hero section responsive code
  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    max-width: 90%;
    height: auto;
    margin-bottom: functions.pxToRem(150);

    .hero__container {
      padding-top: functions.pxToRem(200);
    }

    .hero__info {
      max-width: functions.pxToRem(500);

      h1 {
        font-size: map.get(variables.$font-sizes, "7xl");
        line-height: 1.2;

        .hero__heading-decore {
          top: 50px;
          right: 50px;
          width: 300px;
        }
      }
    }

    .hero__img-wrapper {
      width: functions.pxToRem(600);
      height: functions.pxToRem(600);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    margin-bottom: functions.pxToRem(100);

    .hero__container {
      flex-direction: column-reverse;
      padding-top: functions.pxToRem(80);
      gap: functions.pxToRem(50);
    }

    .hero__info {
      max-width: 100%;
      text-align: center;

      h1 {
        font-size: map.get(variables.$font-sizes, "6xl");

        .hero__heading-decore {
          top: 45px;
          right: 25%;
          transform: translateX(-90%);
          width: 250px;
        }
      }

      .hero__btn-container {
        justify-content: center;
      }
    }

    .hero__img-wrapper {
      position: relative;
      width: 100%;
      max-width: functions.pxToRem(500);
      height: functions.pxToRem(500);
      margin: 0 auto;

      .hero__plane1 {
        top: 56px;
        left: 50px;
        height: 150px;
        width: 90px;
      }

      .hero__plane2 {
        top: 80px;
        right: -10px;
        height: 150px;
        width: 90px;
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    margin-bottom: functions.pxToRem(80);

    .hero__container {
      padding-top: functions.pxToRem(100);
      gap: functions.pxToRem(40);
    }

    .hero__info {
      .hero__tag-line {
        font-size: map.get(variables.$font-sizes, "base");
        margin-bottom: functions.pxToRem(16);
      }

      h1 {
        font-size: map.get(variables.$font-sizes, "5xl");
        margin-bottom: functions.pxToRem(20);

        .hero__heading-decore {
          top: 40px;
          right: 15%;
        }
      }

      .hero__desc {
        font-size: map.get(variables.$font-sizes, "sm");
        line-height: functions.pxToRem(24);
        margin-bottom: functions.pxToRem(24);
      }

      .hero__btn-container {
        gap: functions.pxToRem(30);

        .hero__findmore-btn {
          padding: functions.pxToRem(14) functions.pxToRem(18);
          font-size: map.get(variables.$font-sizes, "base");
        }

        .hero__playdemo {
          gap: functions.pxToRem(15);

          button {
            padding: functions.pxToRem(14) functions.pxToRem(16);

            .fa-play {
              font-size: 14px;
            }
          }

          a {
            font-size: map.get(variables.$font-sizes, "sm");
          }
        }
      }
    }

    .hero__img-wrapper {
      max-width: functions.pxToRem(400);
      height: functions.pxToRem(400);

      .hero__plane1 {
        top: 56px;
        left: 50px;
        height: 100px;
        width: 90px;
      }

      .hero__plane2 {
        top: 120px;
        right: -20px;
        height: 150px;
        width: 90px;
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    margin-bottom: functions.pxToRem(60);

    .hero__container {
      gap: functions.pxToRem(30);
    }

    .hero__info {
      .hero__tag-line {
        font-size: map.get(variables.$font-sizes, "sm");
        margin-bottom: functions.pxToRem(12);
      }

      h1 {
        font-size: map.get(variables.$font-sizes, "4xl");
        margin-bottom: functions.pxToRem(16);
        line-height: 1.3;

        .hero__heading-decore {
          top: 35px;
          width: 200px;
        }

        span {
          white-space: normal;
        }
      }

      .hero__desc {
        font-size: map.get(variables.$font-sizes, "xs");
        line-height: functions.pxToRem(20);
        margin-bottom: functions.pxToRem(20);
      }

      .hero__btn-container {
        flex-direction: column;
        gap: functions.pxToRem(20);
        align-items: center;

        .hero__findmore-btn {
          padding: functions.pxToRem(12) functions.pxToRem(16);
          font-size: map.get(variables.$font-sizes, "sm");
          width: 100%;
          max-width: functions.pxToRem(200);
        }

        .hero__playdemo {
          gap: functions.pxToRem(12);

          button {
            padding: functions.pxToRem(12) functions.pxToRem(14);

            .fa-play {
              font-size: 12px;
            }
          }

          a {
            font-size: map.get(variables.$font-sizes, "xs");
          }
        }
      }
    }

    &__img-wrapper {
      max-width: functions.pxToRem(300);
      height: functions.pxToRem(300);
    }
  }
}

// services

.services {
  max-width: functions.pxToRem(1228);
  margin: 0 auto;
  position: relative;

  &__decore {
    position: absolute;
    right: 0;
  }

  &__header {
    @include mixin.flex-col(10);
    text-align: center;
    margin-bottom: functions.pxToRem(66);

    h2 {
      @extend .header-styling;
    }

    p {
      @extend .tagline-styling;
    }
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;

    .card__group {
      padding: functions.pxToRem(0) functions.pxToRem(36) functions.pxToRem(40);
      border-radius: map.get(variables.$radius, "5xl");
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      background-color: white;
      transition: 0.2s ease-in-out;
      position: relative;

      .card__icon {
        width: functions.pxToRem(166);
        height: functions.pxToRem(154);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h2 {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "lg"),
          map.get(variables.$font-weights, "semibold"),
          100%,
          variables.$text-heading
        );
      }

      p {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "base"),
          map.get(variables.$font-weights, "medium"),
          26px,
          variables.$secondary-text
        );
        text-align: center;
      }
      &:hover {
        box-shadow: 0px 50px 30px rgb(67, 76, 120, 0.1);
      }
    }
    &__icon-comp {
      width: functions.pxToRem(100);
      height: functions.pxToRem(100);
      background-color: variables.$coral;
      border-radius: 30px 0 10px 0;
      position: absolute;
      bottom: -30px;
      left: 300px;
      z-index: -1;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    max-width: functions.pxToRem(800);
    padding: 0 functions.pxToRem(16);

    .card {
      grid-template-columns: 1fr 1fr 1fr;

      .card__group {
        padding: functions.pxToRem(0) functions.pxToRem(16)
          functions.pxToRem(24);
      }

      .card__icon-comp {
        width: functions.pxToRem(80);
        height: functions.pxToRem(80);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    max-width: functions.pxToRem(600);

    .card {
      grid-template-columns: 1fr 1fr;

      .card__group {
        padding: functions.pxToRem(0) functions.pxToRem(8) functions.pxToRem(16);
      }

      .card__icon-comp {
        width: functions.pxToRem(40);
        height: functions.pxToRem(40);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    max-width: functions.pxToRem(250);

    .card {
      grid-template-columns: 1fr;
    }
  }
}

// destinations

.destinations {
  @include mixin.margin-layout(1100, 200);
  &__header {
    h2 {
      @extend .header-styling;
      margin-top: 8px;
      text-align: center;
    }

    p {
      @extend .tagline-styling;
      text-align: center;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: functions.pxToRem(60);
    position: relative;

    .destinations__decore {
      position: absolute;
      right: functions.pxToRem(0);
      top: functions.pxToRem(158);
      width: functions.pxToRem(96);
      height: functions.pxToRem(252);
    }

    .destinations__card-group {
      max-width: functions.pxToRem(315);
      width: 100%;
      overflow: hidden;
      border-radius: map.get(variables.$radius, "2xl");
      background-color: white;
      z-index: 10;
      box-shadow: 0px 50px 30px rgb(67, 76, 120, 0.1);

      .destinations__card-img {
        width: 100%;
        height: functions.pxToRem(327);
        overflow: hidden;
        transition: 0.2s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }

        &:hover {
          scale: 1.05;
        }
      }

      .destinations__card-info {
        padding: 27px 20px 42px 20px;

        .destinations__cardinfo-1 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$secondary-text
          );
          display: flex;
          justify-content: space-between;
          gap: functions.pxToRem(20);
        }

        .destinations__cardinfo-2 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$secondary-text
          );
          margin-top: functions.pxToRem(19);
          text-transform: capitalize;

          .fa-location-arrow {
            color: black;
            margin-right: functions.pxToRem(14);
          }
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @include mixin.margin-layout(900, 100);

    .destinations__card {
      padding: 0 20px;

      .destinations__decore {
        right: 0;
        width: functions.pxToRem(96);
        height: functions.pxToRem(200);
      }
      .destinations__card-group {
        max-width: functions.pxToRem(260);

        .destinations__card-img {
          height: functions.pxToRem(270);
        }

        .destinations__card-info {
          padding: 15px 10px 24px 10px;
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    max-width: functions.pxToRem(600);

    .destinations__card {
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      .destinations__decore {
        right: functions.pxToRem(-20);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "sm")) {
    max-width: functions.pxToRem(300);

    .destinations__card {
      grid-template-columns: 1fr;
      gap: 24px;

      .destinations__group {
        margin: 0 auto;
      }
    }
  }
}

// book trip section
.booktrip {
  @include mixin.margin-layout(1114, 200);
  @include mixin.flex-row(20);

  &__info {
    width: fit-content;

    .booktrip__header {
      max-width: functions.pxToRem(511);
      width: 100%;

      h2 {
        @extend .header-styling;
      }
      p {
        @extend .tagline-styling;
      }
    }

    .booktrip__steps {
      @include mixin.flex-col(48);
      max-width: functions.pxToRem(395);
      width: 100%;
      margin-top: functions.pxToRem(31);

      .booktrip__info-group {
        @include mixin.flex-row(21);

        .booktrip__info {
          @include mixin.flex-col(4);

          h3 {
            @include mixin.font-format(
              map.get(variables.$font-sizes, "base"),
              map.get(variables.$font-weights, "bold"),
              125%,
              variables.$secondary-text
            );
          }
          p {
            @include mixin.font-format(
              map.get(variables.$font-sizes, "base"),
              map.get(variables.$font-weights, "normal"),
              125%,
              variables.$secondary-text
            );
          }
        }
      }
    }
  }

  &__card-container {
    position: relative;
    .booktrip__card1 {
      width: functions.pxToRem(370);
      height: auto;
      border-radius: map.get(variables.$radius, "3xl");
      padding: functions.pxToRem(24);
      box-shadow: 50px -30px 150px 20px rgb(89, 177, 230, 0.2);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(190);
        overflow: hidden;
        border-radius: map.get(variables.$radius, "2xl");

        img {
          width: 100%;
          object-fit: cover;
          position: top;
          scale: 1.04;
        }
      }

      .booktrip__card-header {
        @include mixin.flex-col(13);
        margin: functions.pxToRem(26) 0;

        h3 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            black
          );
          letter-spacing: 1.5%;
        }
        p {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "medium"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: -0.5%;
        }
      }

      .booktrip__card-icons {
        @include mixin.flex-row(18);
        margin-bottom: functions.pxToRem(30);

        .booktrip__card-icon-group {
          width: functions.pxToRem(36);
          height: functions.pxToRem(36);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: variables.$light-grey;

          i {
            @include mixin.cardicon-style;
          }
        }
      }

      .booktrip__card-footer {
        @include mixin.flex-row(20);
        justify-content: space-between;

        .booktrip__footer-info {
          @include mixin.flex-row(5);
          align-items: center;
        }

        p {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: 2%;
        }

        i {
          @include mixin.cardicon-style;
        }
      }
    }

    .booktrip__card2 {
      z-index: 10;
      position: absolute;
      top: functions.pxToRem(235);
      left: functions.pxToRem(222);
      max-width: functions.pxToRem(263);
      width: 100%;
      background-color: white;
      padding: functions.pxToRem(20);
      border-radius: map.get(variables.$radius, "lg");
      box-shadow: 2px 5px 30px 10px rgba(0, 0, 0, 0.1);
      @include mixin.flex-row(11);

      .booktrip__card2-img {
        width: functions.pxToRem(65);
        height: functions.pxToRem(50);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .booktrip__card2-info {
        width: 100%;
        @include mixin.flex-col(12);

        h3 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            black
          );
          letter-spacing: 1.5%;
        }
        .booktrip__tagline {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "sm"),
            map.get(variables.$font-weights, "medium"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: -3.5%;
        }

        .booktrip__progress {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "sm"),
            map.get(variables.$font-weights, "medium"),
            125%,
            black
          );
          letter-spacing: -5.5%;

          span {
            color: variables.$purple;
          }
        }

        .booktrip__line-container {
          width: 100%;
          border: 1px solid variables.$purple;
          height: 5px;
          border-radius: map.get(variables.$radius, "lg");

          .booktrip__line {
            width: 40%;
            height: 100%;
            background-color: variables.$purple;
          }
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    padding: 0 functions.pxToRem(20);
    @include mixin.margin-layout(800, 100);
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @include mixin.margin-layout(500, 100);
    @include mixin.flex-col(50);
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(500, 100);
    @include mixin.flex-col(50);

    .booktrip__card1 {
      width: functions.pxToRem(300);
      height: auto;
      border-radius: map.get(variables.$radius, "xl");
      padding: functions.pxToRem(12);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(150);
        border-radius: map.get(variables.$radius, "lg");
      }

      .booktrip__card-header {
        @include mixin.flex-col(2);
        margin: functions.pxToRem(16) 0;

        h3 {
          font-size: map.get(variables.$font-sizes, "base");
        }
        p {
          font-size: map.get(variables.$font-sizes, "sm");
        }
      }
      .booktrip__card-icons {
        @include mixin.flex-row(8);
        margin-bottom: functions.pxToRem(24);

        .booktrip__card-icon-group {
          width: functions.pxToRem(32);
          height: functions.pxToRem(32);
        }
      }

      .booktrip__card-footer {
        p {
          font-size: map.get(variables.$font-sizes, "sm");
        }
      }
    }

    .booktrip__card2 {
      top: functions.pxToRem(180);
      left: functions.pxToRem(160);
      max-width: functions.pxToRem(250);
      padding: functions.pxToRem(16);
      border-radius: map.get(variables.$radius, "md");
      @include mixin.flex-row(5);

      .booktrip__card2-img {
        width: functions.pxToRem(40);
        height: functions.pxToRem(35);
      }

      .booktrip__card2-info {
        @include mixin.flex-col(3);

        h3 {
          font-size: map.get(variables.$font-sizes, "sm");
        }
        .booktrip__tagline,
        .booktrip__progress {
          font-size: map.get(variables.$font-sizes, "xs");
        }

        .booktrip__line-container {
          height: 3px;
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    @include mixin.margin-layout(100%, 100);

    .booktrip__steps {
      gap: functions.pxToRem(24);
    }

    .booktrip__card1 {
      width: functions.pxToRem(250);
      padding: functions.pxToRem(8);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(130);
      }

      .booktrip__card-header {
        margin: functions.pxToRem(12) 0;
      }
      .booktrip__card-icons {
        margin-bottom: functions.pxToRem(24);

        .booktrip__card-icon-group {
          width: functions.pxToRem(24);
          height: functions.pxToRem(24);
        }
      }
    }

    .booktrip__card2 {
      top: functions.pxToRem(170);
      left: functions.pxToRem(120);
      max-width: functions.pxToRem(180);
      padding: functions.pxToRem(10);
    }
  }
}

// testimonials section

.testimonials {
  @include mixin.margin-layout(1165, 200);

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    padding: 0 functions.pxToRem(20);
    @include mixin.margin-layout(650, 100);

    .testimonials__header {
      width: fit-content;
      margin: auto;
    }

    .testimonials__title {
      max-width: 100%;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(500, 100);
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: functions.pxToRem(20);
    align-items: flex-start;
  }

  &__header {
    @include mixin.flex-col(8);
  }

  &__label {
    @extend .tagline-styling;
  }

  &__title {
    @extend .header-styling;
    max-width: functions.pxToRem(409);
    line-height: functions.pxToRem(100%);
  }

  &__pagination {
    @include mixin.flex-row(12);
    margin-top: functions.pxToRem(20);
  }

  &__dot {
    @extend .button-base;
    padding: 0;
    width: functions.pxToRem(12);
    height: functions.pxToRem(12);
    border-radius: 50%;
    background-color: variables.$light-grey;
    border: none;

    &--active {
      background-color: variables.$text-blue-3;
    }

    &:hover {
      background-color: variables.$text-dark-grey;
    }

    @media (max-width: map.get(variables.$breakpoints, "md")) {
      width: functions.pxToRem(10);
      height: functions.pxToRem(10);
    }
  }

  &__card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.testimonials__card {
  max-width: functions.pxToRem(618);
  width: 100%;
  position: relative;
  display: flex;
  gap: functions.pxToRem(100);

  .testimonials__card1 {
    max-width: functions.pxToRem(380);
    width: 100%;
    background-color: white;
    z-index: 10;
    padding: 28px 34px 28px 64px;
    border-radius: map.get(variables.$radius, "2xl");
    box-shadow: 0px 30px 40px rgb(67, 76, 120, 0.1);
    position: relative;
    // margin-top: functions.pxToRem(34);
    @include mixin.flex-col(34);
    .testimonial-card__quote {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "base"),
        map.get(variables.$font-weights, "medium"),
        32,
        variables.$primary-text
      );
    }

    .testimonial-card__info {
      h3 {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "base"),
          map.get(variables.$font-weights, "semibold"),
          100%,
          variables.$primary-text
        );
      }
      p {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "base"),
          map.get(variables.$font-weights, "sm"),
          100%,
          variables.$primary-text
        );
      }
    }
    @media (max-width: map.get(variables.$breakpoints, "md")) {
      max-width: functions.pxToRem(300);
      padding: 16px 26px;
      gap: functions.pxToRem(10);

      .testimonial-card__quote {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "sm"),
          map.get(variables.$font-weights, "medium"),
          20,
          variables.$primary-text
        );
      }

      .testimonial-card__info {
        h3 {
          font-size: map.get(variables.$font-weights, "xs");
          line-height: 100%;
        }
        p {
          font-size: map.get(variables.$font-weights, "xs");
          line-height: 100%;
        }
      }
    }
  }

  .testimonials__card2 {
    @extend .testimonials__card1;
    max-width: functions.pxToRem(370);
    padding: 14px 26px;
    position: absolute;
    background-color: none;
    border: 2px solid #f7f7f7;
    box-shadow: none;
    top: 100px;
    left: 75px;
    z-index: -1;

    @media (max-width: map.get(variables.$breakpoints, "md")) {
      display: none;
    }
  }

  .testimonial-card__author {
    position: absolute;
    top: functions.pxToRem(-34);
    left: functions.pxToRem(-34);
    width: functions.pxToRem(68);
    height: functions.pxToRem(68);
    border-radius: 50%;
    overflow: hidden;
    z-index: 20;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media (max-width: map.get(variables.$breakpoints, "md")) {
      width: functions.pxToRem(40);
      height: functions.pxToRem(40);
      top: functions.pxToRem(-20);
      left: functions.pxToRem(-20);
    }

    @media (max-width: map.get(variables.$breakpoints, "sm")) {
      left: functions.pxToRem(-10);
    }
  }

  .testimonials__chevron-container {
    @include mixin.flex-col(57);

    .fa-chevron-up {
      @include mixin.cardicon-style;
    }
    .fa-chevron-down {
      @include mixin.cardicon-style;
      color: black;
    }

    @media (max-width: map.get(variables.$breakpoints, "md")) {
      gap: functions.pxToRem(20);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    margin-top: 80px;
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    gap: functions.pxToRem(50);
    margin-top: 50px;
  }
  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    gap: functions.pxToRem(20);
    margin-top: 20px;
  }
}

// logos section
.logos {
  @include mixin.margin-layout(1073, 200);
  @include mixin.flex-row(20);
  justify-content: space-between;

  &__img {
    max-width: 241px;
    width: 100%;
    height: 86px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    border-radius: map.get(variables.$radius, "xl");
    display: flex;
    justify-content: center;
    img {
      width: 161px;
      height: 100%;
      object-fit: contain;
      mix-blend-mode: Luminosity;
    }
    &:hover {
      box-shadow: 10px 10px 20px rgba(32, 32, 32, 0.2);
      cursor: pointer;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @include mixin.margin-layout(900, 200);
    .logos__img {
      max-width: 200px;
      height: 70px;
      padding: 0 20px;
    }
  }
  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @include mixin.margin-layout(750, 200);

    overflow: scroll;
    .logos__img {
      min-width: 170px;
      height: 60px;
      border-radius: map.get(variables.$radius, "md");
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(600, 100);
    gap: 10px;
    padding: 0 10px;
  }
}

.logos::-webkit-scrollbar {
  display: none;
}

// subscribe section
.subscribe {
  @include mixin.margin-layout(1170, 150);
  background-color: #dfd7f9;
  border-radius: 129px 20px 20px 20px;
  @include mixin.flex-col(75);
  justify-content: center;
  align-items: center;
  padding: 79px 0px;
  position: relative;

  &__header {
    max-width: functions.pxToRem(859);
    width: 100%;
    z-index: 10;

    h3 {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "4xl"),
        map.get(variables.$font-weights, "semibold"),
        54,
        variables.$secondary-text
      );
      text-align: center;
    }
  }

  &__form {
    @include mixin.margin-layout(700, 0);
    width: 100%;
    @include mixin.flex-row(24);
    z-index: 10;

    .subscribe__input-field {
      width: functions.pxToRem(421);
      padding: 0px functions.pxToRem(31);
      @include mixin.flex-row(14);
      align-items: center;
      background-color: white;
      border-radius: map.get(variables.$radius, "xl");

      i {
        @include mixin.cardicon-style;
      }

      input {
        width: 100%;
        border: none;
        padding: functions.pxToRem(28) 0;
        @include mixin.font-format(
          map.get(variables.$font-sizes, "sm"),
          map.get(variables.$font-weights, "normal"),
          0,
          variables.$text-dark-blue
        );
      }
      input:focus {
        outline: none;
      }
    }

    .subscribe__button {
      width: functions.pxToRem(180);
      border-radius: map.get(variables.$radius, "lg");
      border: none;
      padding: functions.pxToRem(28) 0;
      background-color: variables.$coral;
      @include mixin.font-format(
        map.get(variables.$font-sizes, "base"),
        map.get(variables.$font-weights, "semibold"),
        0,
        white
      );
    }
  }

  &__decore1 {
    position: absolute;
    bottom: 0;
    left: 10px;
    z-index: 1;
  }

  &__decore2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__decore3 {
    position: absolute;
    top: functions.pxToRem(311);
    right: functions.pxToRem(-100);
    z-index: 1;
  }

  &__icon {
    position: absolute;
    width: functions.pxToRem(70);
    height: functions.pxToRem(70);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #5e3be1;
    top: functions.pxToRem(-34);
    right: functions.pxToRem(-34);
    z-index: 20;

    i {
      font-size: map.get(variables.$font-sizes, "2xl");
      color: white;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @include mixin.margin-layout(900, 120);

    .subscribe__header {
      max-width: functions.pxToRem(700);
      width: 100%;

      h3 {
        font-size: map.get(variables.$font-sizes, "3xl");
        line-height: 44px;
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @include mixin.margin-layout(700, 120);
    padding: 50px 0px;
    border-radius: 100px 10px 10px 10px;

    .subscribe__header {
      max-width: functions.pxToRem(500);
      width: 100%;

      h3 {
        font-size: map.get(variables.$font-sizes, "xl");
        line-height: 36px;
      }
    }

    .subscribe__form {
      @include mixin.margin-layout(500, 0);
    }

    .subscribe__decore1 {
      width: 200px;
    }
    .subscribe__decore2 {
      width: 100px;
    }

    .subscribe__decore3 {
      width: 100px;
      top: functions.pxToRem(200);
      right: functions.pxToRem(-50);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(500, 120);
    padding: 36px 0px;
    border-radius: 80px 10px 10px 10px;
    gap: 24px;

    .subscribe__header {
      max-width: functions.pxToRem(400);
      width: 100%;

      h3 {
        font-size: map.get(variables.$font-sizes, "base");
        line-height: 24px;
      }
    }

    .subscribe__form {
      @include mixin.margin-layout(400, 0);
      flex-direction: column;
      overflow: hidden;

      .subscribe__input-field {
        width: 100%;
        border-radius: map.get(variables.$radius, "sm");
        padding: 0px functions.pxToRem(5);

        input {
          padding: functions.pxToRem(14) 0;
        }
      }

      .subscribe__button {
        width: 100%;
        padding: functions.pxToRem(24) 0;
      }
    }

    .subscribe__icon {
      width: functions.pxToRem(50);
      height: functions.pxToRem(50);
      top: functions.pxToRem(-16);
      right: functions.pxToRem(-16);

      i {
        font-size: map.get(variables.$font-sizes, "2xl");
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "sm")) {
    @include mixin.margin-layout(350, 100);
    border-radius: 60px 8px 8px 8px;
    gap: 24px;
    padding: 24px 0px;

    .subscribe__header {
      max-width: functions.pxToRem(270);
      width: 100%;

      h3 {
        font-size: map.get(variables.$font-sizes, "sm");
        line-height: 24px;
      }
    }

    .subscribe__form {
      @include mixin.margin-layout(250, 0);
    }
    .subscribe__decore3 {
      width: 80px;
      top: functions.pxToRem(200);
      right: functions.pxToRem(-10);
    }

    .subscribe__icon {
      width: functions.pxToRem(40);
      height: functions.pxToRem(40);
      top: functions.pxToRem(-12);
      right: functions.pxToRem(-12);

      i {
        font-size: map.get(variables.$font-sizes, "xl");
      }
    }
  }
}

// footer section

.footer {
  @include mixin.margin-layout(1170, 150);
  margin-bottom: functions.pxToRem(79);
  @include mixin.flex-col(100);
  justify-content: center;

  &__contents {
    @include mixin.flex-row(16);
    justify-content: space-between;
  }

  &__branding {
    max-width: functions.pxToRem(207);

    h3 {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "4xl"),
        map.get(variables.$font-weights, "semibold"),
        100%,
        variables.$primary-text
      );

      a {
        text-decoration: none;
        color: variables.$primary-text;
      }
    }

    p {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "sm"),
        map.get(variables.$font-weights, "semibold"),
        125%,
        variables.$primary-text
      );
    }
  }

  &__links-container {
    @include mixin.flex-row(70);

    .footer__links {
      @include mixin.flex-col(34);

      h3 {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "xl"),
          map.get(variables.$font-weights, "bold"),
          125%,
          black
        );
      }

      .footer__links-group {
        list-style-type: none;
        @include mixin.flex-col(12);

        li {
          a {
            text-decoration: none;
            @include mixin.font-format(
              map.get(variables.$font-sizes, "lg"),
              map.get(variables.$font-weights, "normal"),
              125%,
              variables.$secondary-text
            );
          }
        }
      }
    }
  }

  &__discovery {
    @include mixin.flex-col(26);

    .footer__icon {
      @include mixin.flex-row(25);
    }
  }

  &__copyright {
    max-width: fit-content;
    margin: auto;

    p {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "base"),
        map.get(variables.$font-weights, "semibold"),
        125%,
        variables.$secondary-text
      );
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @include mixin.margin-layout(1000, 120);
    padding: 0 functions.pxToRem(20);

    .footer__links-container {
      @include mixin.flex-row(20);

      .footer__links {
        @include mixin.flex-col(34);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @include mixin.margin-layout(700, 80);
    gap: functions.pxToRem(50);

    .footer__branding {
      max-width: functions.pxToRem(207);

      h3 {
        font-size: map.get(variables.$font-sizes, "2xl");
      }

      p {
        font-size: map.get(variables.$font-sizes, "xs");
        line-height: 12px;
      }
    }

    .footer__links-container {
      @include mixin.flex-row(20);

      .footer__links {
        @include mixin.flex-col(16);

        h3 {
          font-size: map.get(variables.$font-sizes, "base");
        }

        .footer__links-group {
          @include mixin.flex-col(8);

          li {
            a {
              font-size: map.get(variables.$font-sizes, "sm");
            }
          }
        }
      }
    }

    .footer__icon {
      gap: functions.pxToRem(16);
      .footer__icon-group {
        width: functions.pxToRem(32);
        height: functions.pxToRem(32);
      }
    }
    .footer__discovery {
      gap: functions.pxToRem(16);
      .footer__icon {
        gap: functions.pxToRem(16);
      }
      .footer__discover-app {
        @include mixin.flex-col(8);
        p {
          font-size: map.get(variables.$font-sizes, "sm");
        }
        .footer__buttons {
          @include mixin.flex-row(5);

          .footer__button-group {
            @include mixin.flex-row(2);
            padding: functions.pxToRem(8) functions.pxToRem(17)
              functions.pxToRem(8) functions.pxToRem(12);
            border-radius: map.get(variables.$radius, "5xl");

            p {
              font-size: functions.pxToRem(8);
            }

            h3 {
              font-size: map.get(variables.$font-sizes, "xs");
              letter-spacing: 1;
            }

            i {
              font-size: map.get(variables.$font-sizes, "lg");
              color: white;
            }
          }
        }
      }
    }
    .footer__copyright {
      p {
        font-size: map.get(variables.$font-sizes, "sm");
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(400, 80);
    gap: 12;
    .footer__contents {
      @include mixin.flex-col(32);
    }
    .footer__branding {
      max-width: 100%;
    }
    .footer__links-container {
      width: 100%;
      justify-content: space-between;
    }
  }
}

.footer__icon-group {
  width: functions.pxToRem(45);
  height: functions.pxToRem(45);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  i {
    @include mixin.cardicon-style;
    color: black;
  }

  &--insta {
    background: conic-gradient(
      from 180deg at 50% 50%,
      #b8d2f1 0deg,
      #f289aa 60deg,
      #c68bf0 106.09deg,
      #d164da 153.75deg,
      #c963e8 221.25deg,
      #bfc2e8 258.75deg,
      #ffc999 288.75deg,
      #d0d8c9 315deg,
      #bad0f1 334.13deg,
      #ced8cb 358.97deg,
      rgba(255, 255, 255, 0) 360deg
    );

    i {
      color: white;
    }
  }
}
.footer__discover-app {
  @include mixin.flex-col(16);
  p {
    @include mixin.font-format(
      map.get(variables.$font-sizes, "lg"),
      map.get(variables.$font-weights, "semibold"),
      125%,
      variables.$secondary-text
    );
    letter-spacing: 0.5%;
  }
  .footer__buttons {
    @include mixin.flex-row(10);

    .footer__button-group {
      @include mixin.flex-row(5);
      width: fit-content;
      padding: functions.pxToRem(8) functions.pxToRem(17) functions.pxToRem(8)
        functions.pxToRem(12);
      border-radius: map.get(variables.$radius, "5xl");
      align-items: center;
      text-transform: uppercase;
      background-color: black;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      p {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "xs"),
          map.get(variables.$font-weights, "normal"),
          100%,
          white
        );
      }

      h3 {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "lg"),
          map.get(variables.$font-weights, "semibold"),
          100%,
          white
        );
        letter-spacing: 1.5;
      }

      i {
        font-size: map.get(variables.$font-sizes, "2xl");
        color: white;
      }

      &:hover {
        background-color: rgb(41, 41, 41);
      }
    }
  }
}
