@use "mixin";
@use "functions";
@use "variables";
@use "extend";
@use "sass:map";

html,
body {
  @include mixin.base-reset;
  // overflow-x: hidden;
  font-family: variables.$font-family-base;
}

p,
h1,
h2,
h3,
ul,
a,
li {
  padding: 0;
  margin: 0;
}

.button-base {
  background: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: white;
  padding-bottom: 20px;
}

// navbar
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: functions.pxToRem(1160);
  margin: functions.pxToRem(47) auto 0;

  &__logo {
    img {
      width: functions.pxToRem(115);
      height: auto;
    }
  }

  &__list {
    display: flex;
    gap: functions.pxToRem(50);
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  &__item {
    @include mixin.font-format(
      map.get(variables.$font-sizes, "base"),
      map.get(variables.$font-weights, "medium"),
      24,
      variables.$primary-text
    );
  }

  &__link {
    text-decoration: none;
    color: variables.$primary-text;

    &:hover {
      color: gray;
    }
  }

  &__signup-btn {
    padding: functions.pxToRem(7) functions.pxToRem(18);
    border: 1px solid variables.$primary-text;
    border-radius: map.get(variables.$radius, "sm");
    transition: 0.2s ease-in-out;
    font-size: map.get(variables.$font-sizes, "base");
    font-weight: map.get(variables.$font-weights, "medium");

    @extend .button-base;

    &:hover {
      background-color: variables.$coral;
      color: white;
    }
  }

  &__lang-btn {
    @extend .button-base;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    font-size: map.get(variables.$font-sizes, "base");
    font-weight: map.get(variables.$font-weights, "medium");

    .fa-chevron-down {
      font-size: functions.pxToRem(10);
    }
  }

  &__menu-btn {
    @extend .button-base;
    border: none;
    padding: 0;
    display: none;

    .fa-bars {
      font-size: functions.pxToRem(20);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    margin-top: functions.pxToRem(20);
    padding: 0 functions.pxToRem(16);

    &__list {
      gap: functions.pxToRem(30);
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    &__item {
      display: none;
    }

    &__menu-btn {
      display: inline;
    }
  }
}

// main
main {
  // background-image: url("../assets//heropage/bgdecore.svg");
  background-repeat: no-repeat;
  background-position: right;
}

// hero section
.hero {
  max-width: functions.pxToRem(1200);
  height: functions.pxToRem(765);
  margin: 0 auto;

  margin-bottom: functions.pxToRem(220);

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: functions.pxToRem(105);
  }

  // hero page desc content
  &__info {
    max-width: functions.pxToRem(630);
    height: fit-content;
    width: 100%;
    z-index: 1;

    .hero__tag-line {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "xl"),
        map.get(variables.$font-weights, "bold"),
        0,
        variables.$coral
      );
      margin-bottom: functions.pxToRem(24);
    }

    h1 {
      @include mixin.font-format(
        map.get(variables.$font-sizes, "9xl"),
        map.get(variables.$font-weights, "bold"),
        89,
        variables.$text-blue-1
      );
      font-family: variables.$font-family-volkhov;
      margin-bottom: functions.pxToRem(30);
      letter-spacing: -4%;
      position: relative;
      z-index: 10;

      .hero__heading-decore {
        position: absolute;
        top: 70px;
        right: 0;
        z-index: -1;
      }
      span {
        white-space: nowrap;
      }
    }

    .hero__desc {
      font-size: map.get(variables.$font-sizes, "base");
      font-weight: map.get(variables.$font-weights, "medium");
      line-height: functions.pxToRem(30);
      color: variables.$secondary-text;
      margin-bottom: functions.pxToRem(34);
    }

    .hero__btn-container {
      display: flex;
      flex-direction: row;
      gap: functions.pxToRem(44);

      .hero__findmore-btn {
        @extend .button-base;
        padding: functions.pxToRem(18) functions.pxToRem(22);
        border-radius: map.get(variables.$radius, "lg");
        font-size: map.get(variables.$font-sizes, "lg");
        font-weight: 500;
        color: white;
        background-color: variables.$yellow;
        border: none;
      }

      .hero__playdemo {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: functions.pxToRem(21);

        button {
          @extend .button-base;
          padding: functions.pxToRem(18) functions.pxToRem(20);
          border-radius: 50%;
          border: none;
          background-color: variables.$coral;

          .fa-play {
            font-size: 16px;
            color: variables.$text-grey;
            font-weight: map.get(variables.$font-sizes, "normal");
          }
        }

        a {
          text-decoration: none;
          font-size: map.get(variables.$font-sizes, "base");
          color: variables.$text-dark-grey;
          transition: 0.2 ease-in-out;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  // hero page img content
  &__img-wrapper {
    position: absolute;
    right: 0;
    width: functions.pxToRem(765);
    height: functions.pxToRem(765);
  }

  &__img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// services

.services {
  max-width: functions.pxToRem(1228);
  margin: 0 auto;
  position: relative;

  &__decore {
    position: absolute;
    right: 0;
  }

  &__header {
    @include mixin.flex-col(10);
    text-align: center;
    margin-bottom: functions.pxToRem(66);

    h2 {
      @extend .header-styling;
    }

    p {
      @extend .tagline-styling;
    }
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;

    .card__group {
      padding: functions.pxToRem(0) functions.pxToRem(36) functions.pxToRem(40);
      border-radius: map.get(variables.$radius, "5xl");
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 1;
      background-color: white;
      transition: 0.2s ease-in-out;
      position: relative;

      .card__icon {
        width: functions.pxToRem(166);
        height: functions.pxToRem(154);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      h2 {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "lg"),
          map.get(variables.$font-weights, "semibold"),
          100%,
          variables.$text-heading
        );
      }

      p {
        @include mixin.font-format(
          map.get(variables.$font-sizes, "base"),
          map.get(variables.$font-weights, "medium"),
          26px,
          variables.$secondary-text
        );
        text-align: center;
      }
      &:hover {
        box-shadow: 0px 50px 30px rgb(67, 76, 120, 0.1);
      }
    }
    &__icon-comp {
      width: functions.pxToRem(100);
      height: functions.pxToRem(100);
      background-color: variables.$coral;
      border-radius: 30px 0 10px 0;
      position: absolute;
      bottom: -30px;
      left: 300px;
      z-index: -1;
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    max-width: functions.pxToRem(800);
    padding: 0 functions.pxToRem(16);

    .card {
      grid-template-columns: 1fr 1fr 1fr;

      .card__group {
        padding: functions.pxToRem(0) functions.pxToRem(16)
          functions.pxToRem(24);
      }

      .card__icon-comp {
        width: functions.pxToRem(80);
        height: functions.pxToRem(80);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    max-width: functions.pxToRem(600);

    .card {
      grid-template-columns: 1fr 1fr;

      .card__group {
        padding: functions.pxToRem(0) functions.pxToRem(8) functions.pxToRem(16);
      }

      .card__icon-comp {
        width: functions.pxToRem(40);
        height: functions.pxToRem(40);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    max-width: functions.pxToRem(250);

    .card {
      grid-template-columns: 1fr;
    }
  }
}

// destinations

.destinations {
  @include mixin.margin-layout(1100, 200);
  &__header {
    h2 {
      @extend .header-styling;
      margin-top: 8px;
      text-align: center;
    }

    p {
      @extend .tagline-styling;
      text-align: center;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: functions.pxToRem(60);
    position: relative;

    .destinations__decore {
      position: absolute;
      right: functions.pxToRem(0);
      top: functions.pxToRem(158);
      width: functions.pxToRem(96);
      height: functions.pxToRem(252);
    }

    .destinations__card-group {
      max-width: functions.pxToRem(315);
      width: 100%;
      overflow: hidden;
      border-radius: map.get(variables.$radius, "2xl");
      background-color: white;
      z-index: 10;
      box-shadow: 0px 50px 30px rgb(67, 76, 120, 0.1);

      .destinations__card-img {
        width: 100%;
        height: functions.pxToRem(327);
        overflow: hidden;
        transition: 0.2s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }

        &:hover {
          scale: 1.05;
        }
      }

      .destinations__card-info {
        padding: 27px 20px 42px 20px;

        .destinations__cardinfo-1 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$secondary-text
          );
          display: flex;
          justify-content: space-between;
          gap: functions.pxToRem(20);
        }

        .destinations__cardinfo-2 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$secondary-text
          );
          margin-top: functions.pxToRem(19);
          text-transform: capitalize;

          .fa-location-arrow {
            color: black;
            margin-right: functions.pxToRem(14);
          }
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    @include mixin.margin-layout(900, 100);

    .destinations__card {
      padding: 0 20px;

      .destinations__decore {
        right: 0;
        width: functions.pxToRem(96);
        height: functions.pxToRem(200);
      }
      .destinations__card-group {
        max-width: functions.pxToRem(260);

        .destinations__card-img {
          height: functions.pxToRem(270);
        }

        .destinations__card-info {
          padding: 15px 10px 24px 10px;
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    max-width: functions.pxToRem(600);

    .destinations__card {
      grid-template-columns: 1fr 1fr;
      gap: 24px;

      .destinations__decore {
        right: functions.pxToRem(-20);
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "sm")) {
    max-width: functions.pxToRem(300);

    .destinations__card {
      grid-template-columns: 1fr;
      gap: 24px;

      .destinations__group {
        margin: 0 auto;
      }
    }
  }
}

// book trip section
.booktrip {
  @include mixin.margin-layout(1114, 200);
  @include mixin.flex-row(20);

  &__info {
    width: fit-content;

    .booktrip__header {
      max-width: functions.pxToRem(511);
      width: 100%;

      h2 {
        @extend .header-styling;
      }
      p {
        @extend .tagline-styling;
      }
    }

    .booktrip__steps {
      @include mixin.flex-col(48);
      max-width: functions.pxToRem(395);
      width: 100%;
      margin-top: functions.pxToRem(31);

      .booktrip__info-group {
        @include mixin.flex-row(21);

        .booktrip__info {
          @include mixin.flex-col(4);

          h3 {
            @include mixin.font-format(
              map.get(variables.$font-sizes, "base"),
              map.get(variables.$font-weights, "bold"),
              125%,
              variables.$secondary-text
            );
          }
          p {
            @include mixin.font-format(
              map.get(variables.$font-sizes, "base"),
              map.get(variables.$font-weights, "normal"),
              125%,
              variables.$secondary-text
            );
          }
        }
      }
    }
  }

  &__card-container {
    position: relative;
    .booktrip__card1 {
      width: functions.pxToRem(370);
      height: auto;
      border-radius: map.get(variables.$radius, "3xl");
      padding: functions.pxToRem(24);
      box-shadow: 50px -30px 150px 20px rgb(89, 177, 230, 0.2);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(190);
        overflow: hidden;
        border-radius: map.get(variables.$radius, "2xl");

        img {
          width: 100%;
          object-fit: cover;
          position: top;
          scale: 1.04;
        }
      }

      .booktrip__card-header {
        @include mixin.flex-col(13);
        margin: functions.pxToRem(26) 0;

        h3 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            black
          );
          letter-spacing: 1.5%;
        }
        p {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "medium"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: -0.5%;
        }
      }

      .booktrip__card-icons {
        @include mixin.flex-row(18);
        margin-bottom: functions.pxToRem(30);

        .booktrip__card-icon-group {
          width: functions.pxToRem(36);
          height: functions.pxToRem(36);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: variables.$light-grey;

          i {
            @include mixin.cardicon-style;
          }
        }
      }

      .booktrip__card-footer {
        @include mixin.flex-row(20);
        justify-content: space-between;

        .booktrip__footer-info {
          @include mixin.flex-row(5);
          align-items: center;
        }

        p {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "base"),
            map.get(variables.$font-weights, "normal"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: 2%;
        }

        i {
          @include mixin.cardicon-style;
        }
      }
    }

    .booktrip__card2 {
      z-index: 10;
      position: absolute;
      top: functions.pxToRem(235);
      left: functions.pxToRem(222);
      max-width: functions.pxToRem(263);
      width: 100%;
      background-color: white;
      padding: functions.pxToRem(20);
      border-radius: map.get(variables.$radius, "lg");
      box-shadow: 2px 5px 30px 10px rgba(0, 0, 0, 0.1);
      @include mixin.flex-row(11);

      .booktrip__card2-img {
        width: functions.pxToRem(65);
        height: functions.pxToRem(50);
        border-radius: 50%;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .booktrip__card2-info {
        width: 100%;
        @include mixin.flex-col(12);

        h3 {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "lg"),
            map.get(variables.$font-weights, "normal"),
            125%,
            black
          );
          letter-spacing: 1.5%;
        }
        .booktrip__tagline {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "sm"),
            map.get(variables.$font-weights, "medium"),
            125%,
            variables.$text-light-grey
          );
          letter-spacing: -3.5%;
        }

        .booktrip__progress {
          @include mixin.font-format(
            map.get(variables.$font-sizes, "sm"),
            map.get(variables.$font-weights, "medium"),
            125%,
            black
          );
          letter-spacing: -5.5%;

          span {
            color: variables.$purple;
          }
        }

        .booktrip__line-container {
          width: 100%;
          border: 1px solid variables.$purple;
          height: 5px;
          border-radius: map.get(variables.$radius, "lg");

          .booktrip__line {
            width: 40%;
            height: 100%;
            background-color: variables.$purple;
          }
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xl")) {
    padding: 0 functions.pxToRem(20);
    @include mixin.margin-layout(800, 100);
  }

  @media (max-width: map.get(variables.$breakpoints, "lg")) {
    @include mixin.margin-layout(500, 100);
    @include mixin.flex-col(50);
  }

  @media (max-width: map.get(variables.$breakpoints, "md")) {
    @include mixin.margin-layout(500, 100);
    @include mixin.flex-col(50);

    .booktrip__card1 {
      width: functions.pxToRem(300);
      height: auto;
      border-radius: map.get(variables.$radius, "xl");
      padding: functions.pxToRem(12);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(150);
        border-radius: map.get(variables.$radius, "lg");
      }

      .booktrip__card-header {
        @include mixin.flex-col(2);
        margin: functions.pxToRem(16) 0;

        h3 {
          font-size: map.get(variables.$font-sizes, "base");
        }
        p {
          font-size: map.get(variables.$font-sizes, "sm");
        }
      }
      .booktrip__card-icons {
        @include mixin.flex-row(8);
        margin-bottom: functions.pxToRem(24);

        .booktrip__card-icon-group {
          width: functions.pxToRem(32);
          height: functions.pxToRem(32);
        }
      }

      .booktrip__card-footer {
        p {
          font-size: map.get(variables.$font-sizes, "sm");
        }
      }
    }

    .booktrip__card2 {
      top: functions.pxToRem(180);
      left: functions.pxToRem(160);
      max-width: functions.pxToRem(250);
      padding: functions.pxToRem(16);
      border-radius: map.get(variables.$radius, "md");
      @include mixin.flex-row(5);

      .booktrip__card2-img {
        width: functions.pxToRem(40);
        height: functions.pxToRem(35);
      }

      .booktrip__card2-info {
        @include mixin.flex-col(3);

        h3 {
          font-size: map.get(variables.$font-sizes, "sm");
        }
        .booktrip__tagline,
        .booktrip__progress {
          font-size: map.get(variables.$font-sizes, "xs");
        }

        .booktrip__line-container {
          height: 3px;
        }
      }
    }
  }

  @media (max-width: map.get(variables.$breakpoints, "xs")) {
    @include mixin.margin-layout(100%, 100);

    .booktrip__steps {
      gap: functions.pxToRem(24);
    }

    .booktrip__card1 {
      width: functions.pxToRem(250);
      padding: functions.pxToRem(8);

      .booktrip__img {
        width: 100%;
        height: functions.pxToRem(130);
      }

      .booktrip__card-header {
        margin: functions.pxToRem(12) 0;
      }
      .booktrip__card-icons {
        margin-bottom: functions.pxToRem(24);

        .booktrip__card-icon-group {
          width: functions.pxToRem(24);
          height: functions.pxToRem(24);
        }
      }
    }

    .booktrip__card2 {
      top: functions.pxToRem(170);
      left: functions.pxToRem(120);
      max-width: functions.pxToRem(180);
      padding: functions.pxToRem(10);
    }
  }
}
