.animate-scroll-bottom-right {
  animation: fadeInRightUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes fadeInRightUp {
  from {
    opacity: 0;
    transform: translateY(50px) translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  @keyframes fadeInRightUp {
    from {
      opacity: 0;
      transform: translateY(100px) translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animate-scroll-bottom-left {
  animation: fadeInLefttUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

@keyframes fadeInLefttUp {
  from {
    opacity: 0;
    transform: translateY(50px) translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 768px) {
  @keyframes fadeInLefttUp {
    from {
      opacity: 0;
      transform: translateY(100px) translateX(-200px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animate-yellow-bar {
  animation: yellowLine linear;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
  animation-duration: 5s;
}

@keyframes yellowLine {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 72px;
  }
}

@media (max-width: 768px) {
  @keyframes yellowLine {
    0% {
      opacity: 0;
      max-width: 0;
    }
    100% {
      opacity: 1;
      max-width: 32px;
    }
  }
}

.animate-hero-header {
  animation: hero-header linear;
  animation-duration: 2s;
}

@keyframes hero-header {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-hero-yellow-bar {
  animation: yellowHeroLine linear;
  animation-duration: 2s;
}

@keyframes yellowHeroLine {
  0% {
    opacity: 0;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 72px;
  }
}

@media (max-width: 768px) {
  @keyframes yellowHeroLine {
    0% {
      opacity: 0;
      max-width: 0;
    }
    100% {
      opacity: 1;
      max-width: 32px;
    }
  }
}

.hero-header-fade-up {
  animation: hero-fade-up 1s ease-in-out linear;
  animation-timeline: scroll();
  animation-range: 0vh 30vh; /* Fades out in the first 30vh of scroll */
  animation-delay: 2s; /* Wait for the initial animation to finish */
}
@keyframes hero-fade-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}
